<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <section id="forgetmessage">

    <h2>password has been changed successfully</h2>
    <br> <br>
    <p><a href="/">please click on link to login again</a></p>
</section>

</body>
</html>