#login{
display: flex;
align-items: center;
height: 640px;
}
#login h2{
    text-align: center;
}
#login p{
    text-align: center;
    margin-top: 5px;
}
#forgetmessage{
    height: 100vh;
    background: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
#forgetmessage h2{
    color: red;
}#header{
    background: linear-gradient(to right, rgb(249, 208, 3),rgb(32, 33, 30));
    padding: 15px 0px;
}
#header h4{
    color: black;
}
#header button{
    float: right;
}
#mid h2{
    text-align: center;
    margin-top: 30px;
    color: black;
}
#profile .card{
    margin: 20px 20px;
}
#profile h5{
    color: black;
    text-align: center;
}
#profile p{
    text-align: justify;
}
#profile .card{
    border-color: black;
    border-radius: 40px;
}
#profile h2{
    text-align: center;
    color: red;
}
#profile .bi-trash{
    font-size: 30px;
}
#blog p{
    text-align: justify;
}
#blog h2{
    text-align: center;
    color:red;
}